@import '../../index.scss';

.collapse{
    width: $mobile-width;

    @include tablet-responsive{
        width: 75%;
        margin-bottom: 15px;
    }

    @include desktop-responsive{
        margin-bottom: 20px;
    }
}
