@import '../../index.scss';

#root > div > section.collapse{

    @include tablet-responsive{
        width: 70%;
        margin-bottom: 15px;
    }

    @include desktop-responsive{
        margin-bottom: 20px;
    }
}
