@import '../../index.scss';

.rate{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left:0;
    >li img.star {
        height: 18px;
        @include tablet-responsive{
            height: 22px;
        }
        @include desktop-responsive{
            height: 26px;
        }
        @include large-desktop-responsive{
            height: 42px;
        }
    }
}