@import '../../index.scss';

.card-container{
    margin: auto;
    gap: 30px;
    box-sizing: border-box;

    @include tablet-responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $card-container-bgcolor;
        padding: 25px 25px 0 25px;
        border-radius: 15px;
        gap: 5px 25px;
        margin-bottom: 30px;
    }

    @include desktop-responsive{
        grid-template-columns: repeat(3, 1fr);
        padding: 35px 35px 10px 35px;
        gap: 10px 35px;
    }

    @include large-desktop-responsive{
        padding: 50px 50px 25px 50px;
        border-radius: 20px;
        gap: 30px 60px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}