@import '../../index.scss';

.card-container{
    width :75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;

    @include tablet-responsive {
        grid-template-columns: repeat(2, 1fr);}

    @include smartphone-responsive{
        grid-template-columns: 1fr;
    }
}



 