body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title-h1 {
  color: #FF6060;
}

li {
  color: black;
}

.logementCard {
  width: 90%;
  margin: 30px auto;
}
@media (min-width: 1024px) {
  .logementCard {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .titleTagsHostRate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.logementCard .titleTagsHostRate .titleTags {
  display: flex;
  flex-direction: column;
}
.logementCard .titleTagsHostRate .titleTags .title .title-h1 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .titleTagsHostRate .titleTags .title .title-h1 {
    font-size: 26px;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .titleTags .title .title-h1 {
    font-size: 30px;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .titleTags .title .title-h1 {
    font-size: 38px;
  }
}
.logementCard .titleTagsHostRate .titleTags .title p.title-p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .titleTags .title p.title-p {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .titleTags .title p.title-p {
    font-size: 18px;
  }
}
.logementCard .titleTagsHostRate .tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.logementCard .titleTagsHostRate .tags > div {
  background-color: #FF6060;
  border-radius: 5px;
  padding: 2px 15px 2px 15px;
  color: white;
  font-size: 11px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .titleTagsHostRate .tags > div {
    padding: 1px 15px 3px 15px;
    border-radius: 10px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .tags > div {
    padding: 4px 20px;
    font-size: 12px;
    border-radius: 15px;
  }
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .tags > div {
    padding: 4px 25px;
    font-size: 16px;
    border-radius: 20px;
  }
}
.logementCard .titleTagsHostRate .hostRate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .titleTagsHostRate .hostRate {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .hostRate {
    display: flex;
    flex-direction: column;
  }
}
.logementCard .titleTagsHostRate .hostRate .host {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logementCard .titleTagsHostRate .hostRate .host .host-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 50%;
  text-align: end;
  font-weight: normal;
  font-size: 12px;
  color: #FF6060;
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .hostRate .host .host-name {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .hostRate .host .host-name {
    font-size: 22px;
  }
}
.logementCard .titleTagsHostRate .hostRate .host > img {
  border-radius: 100px;
  height: 40px;
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .hostRate .host > img {
    height: 70px;
  }
}
.logementCard .titleTagsHostRate .hostRate img.star {
  height: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .titleTagsHostRate .hostRate img.star {
    height: 22px;
  }
}
@media (min-width: 1024px) {
  .logementCard .titleTagsHostRate .hostRate img.star {
    height: 26px;
  }
}
@media (min-width: 1440px) {
  .logementCard .titleTagsHostRate .hostRate img.star {
    height: 42px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .logementCard .details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .logementCard .details {
    gap: 75px;
  }
}
.logementCard .details .collapse {
  width: 100%;
  margin: 15px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .details .collapse {
    border-radius: 10px;
  }
  .logementCard .details .collapse > h2 {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logementCard .details .collapse {
    border-radius: 10px;
  }
  .logementCard .details .collapse > h2 {
    font-size: 14px;
  }
  .logementCard .details .collapse .collapse .collapse-header {
    padding: 5px 15px;
  }
}/*# sourceMappingURL=Card.css.map */