@import '../../index.scss';

.collapse {
    color: white;
    margin: auto;
    @include large-desktop-responsive{
        margin : 30px auto;
    }

    .collapse-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 9px;
        background-color: #FF6060;
        border-radius: 5px;

        > h2 {
            font-size: 14px;
            margin: 0;
            @include desktop-responsive{
                font-size: 18px;
                padding: 5px 9px;
            }
            @include large-desktop-responsive{
                padding: 9px 14px;
                font-size: 26px;
            }
            }

        .collapse-button {
            background-color: $color-pink;
            border: none;

            >img{
                height: 20px;
                @include large-desktop-responsive{
                    height: 32px;
                }
            }
            
            
        }
    }

    .collapse-content {
        color: black;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
        font-size: 12px;
        width: 90%;
        margin: auto;
        text-align: left;
        padding-bottom: 5px ;
        @include desktop-responsive{
            width: 95%;
            font-size: 16px;
        }
        @include large-desktop-responsive{
            font-size: 24px;
        }
    }

    > p {
        background-color: white;
        color: black;
        text-align: left;
        padding: 10px;
        margin: 0;
    }

    ul {
        background-color: white;
        color: black;
        text-align: left;
        padding: 10px;
        margin: 0;
        list-style: none;
    }
}
