@import '../../index.scss';

.collapse {
    width: 60%;
    margin: 20px auto;
    color: white;

    .collapse-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background-color: $color-pink;
        border-radius: 10px;

        > h2 {
            margin: 0;
        }

        .collapse-button {
            background-color: $color-pink;
            border: none;
        }
    }

    .collapse-content {
        color: black;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
    }

    > p {
        background-color: white;
        color: black;
        text-align: left;
        padding: 10px;
        margin: 0;
    }

    ul {
        background-color: white;
        color: black;
        text-align: left;
        padding: 10px;
        margin: 0;
        list-style: none;
    }
}
