@import '../../index.scss';

.carrousel-container{
    color: $primary-color;
    position: relative;
    width: $mobile-width;
    margin: auto;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;

    @include desktop-responsive{
        width: $desktop-width;
    }
    @include large-desktop-responsive{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    >button{
        background-color: transparent;
        border: none;
    }

    button.carrousel-arrowBack {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-40%);
        >img{
            height:30px;
            @include tablet-responsive{
                height: 80px;
            }
            @include desktop-responsive{
                height: 90px;
            }
            @include large-desktop-responsive{
                height: 110px;
            }
        }
    }

    .images-container {
        position: relative;
        width: 100%;
        height: 225px;
        margin: auto;
        @include tablet-responsive{
            height: 250px;}
        @include desktop-responsive{
            height: 300px;}
        @include large-desktop-responsive{
            height: 400px;
        }
        
        
    
        >img{
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 225px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            @include tablet-responsive{
                height: 250px;}
            @include desktop-responsive{
                height: 300px;}
            @include large-desktop-responsive{
                height: 400px;}
            &.show{
                opacity: 1;
            }
        }
        
    }

    button.carrousel-arrowForward {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-40%);
        >img{
            height:30px;
            @include tablet-responsive{
                height: 80px;
            }
            @include desktop-responsive{
                height: 90px;
            }
            @include large-desktop-responsive{
                height: 110px;
            }
        }
    }

    .carrousel-number{
        position: absolute;
        bottom: 5%;
        right: 50%;
        color: $secondary-color;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 2px 5px 5px 5px;
        border-radius: 10px;
    }
}



