@import '../../index.scss';

.header{
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo{
        height :35px;
        @include tablet-responsive{
            height: 42px;
        }
        @include desktop-responsive{
            height: 50px;
        }
        @include large-desktop-responsive{
            height: 70px;
        }
    }    
}
