@import '../../index.scss';


.nav{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include desktop-responsive{
        width: 85%;}
    @include large-desktop-responsive{
        width: 85%;}

    .nav-logo{
        height :35px;
        @include tablet-responsive{
            height: 42px;}
        @include desktop-responsive{
            height: 50px;}
        @include large-desktop-responsive{
            height: 70px;}
        }
 
    .nav-links{
        display: flex;
        justify-content: right;
        width: 50%;
        font-size: 12px;
        padding-left: 5%;
        box-sizing: border-box;
        align-items: center;
        gap: 14%;
        @include tablet-responsive{
            font-size:16px;}
        @include desktop-responsive{
            font-size:20px;}
        @include large-desktop-responsive{
            font-size:28px;}

            >a{
                text-decoration:none;
                color: black;
                cursor: pointer;
                }

            >a.active{
                text-decoration: underline;
                cursor: default;
            }
    }
}
