@import '../index.scss';


.nav{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-logo{
        @include smartphone-responsive{
            height: 42px;}
    }

    .nav-links{
        display: flex;
        gap: 50px;
        font-size: 1.75em;
        @include smartphone-responsive{
            font-size:1.5em;}

        >a{
            text-decoration:none;
            color: black;
            cursor: pointer;

        }

        >a.active{
            text-decoration: underline;
            cursor: default;
        }
    }
}