@import '../../index.scss';

.error-container{
    @include flex-column-center;
    margin: 30px auto;
    gap: 20px;
    @include large-desktop-responsive{
        margin : 60px auto;
    }

    >*{
        margin: 30px auto;
        @include large-desktop-responsive{
            margin : 60px auto;
        }
    }

    >h1{
        color: $primary-color;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        @include tablet-responsive{
            font-size: 24px;
        }
        @include desktop-responsive{
            font-size: 28px;
        }
        @include large-desktop-responsive{
            font-size: 42px;
        }   
    }

    >img{
        object-fit: cover;
        height: 80px;
        @include tablet-responsive{
            height: 150px;
        }
        @include desktop-responsive{
            height: 200px;
        }
        @include large-desktop-responsive{
            height: 275px;
        }
    }

    >a{
        color: $tertiary-color;
        text-decoration: underline;
        font-size: 14px;
        @include desktop-responsive{
            font-size: 16px;
        }
        @include large-desktop-responsive{
            font-size: 24px;
        }
    }
}