@import '../../index.scss';

.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;

    >img{
        height: 38px;
        @include tablet-responsive{
            height: 28px;
        }
    }
    
    >p{
        font-size: 12px;
        text-align: center;
        width: 90px;
        @include tablet-responsive{
            width: auto;
            font-size: 16px;
        }
    }
}