@import '../../index.scss';

.footer{
    @include flex-column-center;
    width: 100%;
    background-color: $tertiary-color;
    color: $secondary-color;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 20px;

    >img{
        height: 38px;
        @include tablet-responsive{
            height: 28px;
        }
        @include desktop-responsive{
            height: 32px;
        }
        @include large-desktop-responsive{
            height: 46px;
        }
    }
    
    >p{
        font-size: 12px;
        text-align: center;
        width: 90px;
        @include tablet-responsive{
            width: auto;
            font-size: 16px;
        }
        @include desktop-responsive{
            font-size: 18px;
        }
        @include large-desktop-responsive{
            font-size: 26px;
        }
    }
}